@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
body {
    background: #282828;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
}

.contenedor {
    display: flex;
    justify-content: space-around;
}

.cont {
    background: #101010;
    box-shadow: 0 0 .4rem #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    transition: .1s transform;
    width: 30%;
}

.cont:hover {
    color: #e16b5a;
    transform: scale(1.01);
}

.cont:active {
    transform: scale(0.95);
}

.nombre-disco {
    align-items: center;
    cursor: default;
    display: flex;
    font-size: 1.4vw;
    height: 100%;
    justify-content: center;
    padding: 0.2rem;
    text-align: center;
}

.repSpotify {
    height: 9.5rem;
    margin-left: -8.5rem;
    width: calc(100% + 8.5rem);
}

@media screen and (max-width: 425px) {
    .contenedor {
        align-items: center;
        flex-direction: column;
    }

    .cont {
        margin: 0.4rem 0;
        width: 75%;
    }

    .nombre-disco {
        font-size: 2vh;
    }

    .repSpotify {
        height: 8.5rem;
        margin-left: -4.5rem;
        width: calc(100% + 4.5rem);
    }
}