body {
    background: #282828;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.contenedor {
    display: flex;
    justify-content: space-around;
}

.cont {
    background: #101010;
    box-shadow: 0 0 .4rem #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    transition: .1s all;
    width: 33%;
}

.cont:hover {
    color: #e16b5a;
    transform: scale(1.01);
}

.cont:active {
    transform: scale(0.95);
}

.cont span {
    align-items: center;
    display: flex;
    font-size: 1.4vw;
    height: 100%;
    justify-content: center;
    padding: 0.2rem;
    text-align: center;
}

.reproductor {
    height: 9.5rem;
}

.repSpotify {
    height: 100%;
    margin-left: -8.5rem;
    width: calc(100% + 8.7rem);
}

.artists {
    display: flex;
    justify-content: space-evenly;
}

.artists button {
    background: #101010;
    box-shadow: 0 0 .2rem #000000;
    border: none;
    color: #ffffff;
    font-size: 1.4vw;
    padding: 1rem;
    transition: .1s all;
}

.artists button:hover {
    background: #e16b5a;
    color: #000000;
    cursor: pointer;
}

.artists button:active {
    transform: scale(0.95);
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 425px) {
    main {
        margin: 0;
    }

    .contenedor {
        align-items: center;
        flex-direction: column;
        order: 1;
    }

    .cont {
        align-items: center;
        margin: 0.4rem 0;
        width: 93%;
    }

    .cont span {
        font-size: 2vh;
    }    

    .reproductor {
        height: 5rem;
        order: 0;
    }

    .repSpotify {
        margin-left: -5rem;
        width: calc(100% + 5.2rem);
    }

    .artists {
        margin: 1rem 0;
        order: 3;
    }

    .artists button {
        padding: .5rem;
        font-size: 2vh;
    }
}